.main-game {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  gap: 0.125rem;

  .x-line {
    display: flex;
    flex-direction: row;
    gap: 0.125rem;
  }
  .one-square {
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    background-color: #202020;
    position: relative;
  }

  .cross::before,
  .cross::after,
  .circle::before,
  .circle::after {
    content: "";
    position: absolute;
    top: 50%;
    transition: 0.5s;
  }

  .cross::before,
  .cross::after {
    background-color: #ff7070;
    width: 0.25rem;
    height: 5rem;
  }

  .circle::before,
  .circle::after {
    border-radius: 50%;
  }

  .cross::before {
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .cross::after {
    right: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
  }

  .circle::before {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 5rem;
    background-color: #6786ff;
  }

  .circle::after {
    right: 50%;
    transform: translate(50%, -50%);
    width: 4.5rem;
    height: 4.5rem;
    background-color: #202020;
    opacity: 1 !important;
  }

  .disappearing::before,
  .disappearing::after {
    opacity: 0.2;
  }
}
